// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');
// COLORS
$mainblue: #080E2F;
$transparentmainblue: rgba(8, 14, 47, 1);
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;
$languagewhite: #d9e2e2;
$techcirclegreen: #05607D;
$techcircleblue: #00567F;
$hoverfonts: #B7BCD6;
$experiencegreen: #255C5A;
$positioncolor: #8081AA;

// Other Blue
$otherblue: #00567F;

// BUTTON COLORS
$learnmorebutton: #EBEBEB;
$experiencegreenbutton: #476D6B;
$resumebutton: #507E81;
$jobdescription: #00C6C3;


// DISPLAY SQAURES COLORS
$portfolios: #36395D;
$experiences: #496b69;
$experiencestwo: #476D6B;
$abouts: #627C7A;
$skillses: #7FC4C9;
$skillsdarker: #669EA3;
$skillsdarker2: #507e81;

// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// CIRCLE OUTLINE
$circleoutlines: rgb(221,221,221,0.52);

// FOOTER
$firstblue: #58a6ff;
$secondblue: #6287cf;
$thirdblue: rgb(85, 85, 255);
$smallsgrey: #757782;

// SOCIALS
$socialsgrey: #B7BCD6;

$lighterskills: #080e31;

// Colors
$darkblue: #080E2F;
$skillsteal: #146166;
$darkred: darkred;
$darkgreen: darkgreen;
$darkgrey: darkgrey;

// Mobile
@media screen and (max-width: 450px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            .container {
                background-color: $mainblue;
                margin: 0;
                // Top NavBar that is static
                .the_top_nav {
                    background-color: $darkblue;
                    position: sticky;
                    top: 0;
                    width: 100%;
                    z-index: 98;
                    height: 14vh;
                    transition: 1s all ease-in-out;
                    .nav_top_contents {
                        display: flex;
                        justify-content: space-between;
                        #courdevs_top_logo {
                            // width: 25vw;
                            // height: 25vw;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // width: 24w;
                            // height: 24vw;
                            margin: 4vh 0 0 10vw;
                            transition: 3s all ease-in-out;
                            border: 2px solid white;
                            border-radius: 50%;
                            padding: 5vw;
                            background-color: white;
                            // opacity: 0;
                            a {
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                                text-align: center;
                                color: white;
                                color: $mainblue;
                                font-size: 4vw;
                                text-decoration: none;
                            }
                        }
                        #courdevs_top_logo.dissapear {
                            opacity: 0;
                            transition: 1s all ease-in-out;
                        }
                        .you {
                            display: flex;
                            flex-direction: column;
                            justify-content: left;
                            align-items: center;
                            gap: .5vh;
                            // margin: 4.5vh 0 0 -60vw;
                            margin: 5vh 0 0 -55vw;
                            opacity: 0;
                            transition: 1s all ease-in-out;
                            #name {
                                color: white;
                                font-size: 5vw;
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                                margin: 0 0 0 0vw;
                            }
                            .desc_menu_box {
                                background-color: $portfolios;
                                background-color: white;
                                padding: 2vw;
                                border-radius: 5px;
                                // width height below
                                // width: 10vw;
                                // height: 1vw;
                                #job_description {
                                    color: $positioncolor;
                                    color: $mainblue;
                                    font-size: 3.3vw;
                                    font-family: 'Roboto', sans-serif;
                                }
                            }
                        }
                        .you.appear {
                            opacity: 1;
                            transition: 1s all ease-in-out;
                        }
                        #top_hamburger {
                            width: 10vw;
                            height: 10vw;
                            margin: 6.5vh 15vw 0 0;
                            transition: 1s all ease-in-out;
                        }
                        #top_hamburger.dissapear {
                            opacity: 0;
                            transition: 1s all ease-in-out;
                        }
                        // Make it dissapear
                        .the_top_nav.dissapear {
                            opacity: 0;
                            transition: 1s all ease-out;
                        }
                        .the_top_nav.appear {
                            opacity: 1;
                            transition: .7s all ease-in;
                        }
                        // // the Floating Nav at top of page dissapear
                        // .the_nav.dissapear {
                        //     opacity: 0;
                        //     transition: .5s all ease-in-out;
                        // }
                        // .the_nav.scroll_up {
                        //     opacity: 1;
                        // }
                        // Try add another class for top that
                            // sets opacity to zero and moves the
                                // nav bar to the side or up or fades
                                    // which ever looks best
                        // .the_nav.top {
                        //     // make navbar dissolve slow
                        //     opacity: 0;
                        //     transition: 1s all ease-out;
                        // }
                    }
                }

                // Page Section
                // Home Page
                .section_one {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $darkblue;
                    height: 90vh;
                    .section_one_headshot {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0vh 0 0 0;
                        // margin: 0vh 0 0 0;
                        #home_headshot {
                            width: 45vw;
                            height: 45vw;
                            border-radius: 50%; 
                            position: absolute; 
                            margin: -30vw 0 0 0; 
                        }
                        .back_circle {
                            width: 50vw;
                            height: 50vw;
                            // border: 7px solid $positioncolor;
                            // border: 10px solid $portfolios;
                            border-radius: 50%;
                            // box-shadow: 3px 3px 2px $boxshadowcircles;
                        }
                    }
                    .section_one_content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 3vh 0 0 0;
                        // height: 100vh;
                        .home_name {
                            margin: 0 0 1.5vh 0;
                            h1 {
                                font-family: 'Inter', sans-serif;
                                color: white;
                                // color: $positioncolor;
                                font-size: 7vw;
                            }
                        }
                        .job_description {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 70vw;
                            height: 11vw;
                            background-color: $portfolios;
                            background-color: white;
                            border-radius: 5px;
                            p {
                                font-family: 'Roboto', sans-serif;
                                color: $positioncolor;
                                color: $mainblue;
                                // color: white;
                                font-size: 5vw;
                            }
                        }
                        .my_mantra {
                            display: flex;
                            margin: 10vh 0 0 0;
                            p {
                                color: white;
                                // color: $positioncolor;
                                font-family: 'Roboto', sans-serif;
                                font-size: 5vw;
                                // font-weight: bold;
                                text-align: center;
                            }
                        }
                        .learn_more {
                            width: 70vw;
                            height: 10vw;
                            margin: 12vh 0 -15vh 0;
                            border-radius: 5px;
                            background-color: $portfolios;
                            background-color: white;
                            // background-color: $positioncolor;
                            border: none;
                            box-shadow: 5px 5px 4px $boxshadowcircles;
                            a {
                                color: $languagewhite;
                                
                                color: white;
                                color: $mainblue;
                                // color: $darkblue;
                                text-decoration: none;
                                font-family: 'Roboto', sans-serif;
                                font-size: 4vw;
                            }
                        }
                    }
                }
                // About Section
                .section_two {
                    background-color: $skillsteal;
                    // background-color: $otherblue;
                    height: 100vh;
                    .section_two_top {
                        display: flex;
                        .about_title {
                            font-family: 'Inter', sans-serif;
                            font-size: 10vw;
                            color: white;
                            margin: 5vh 0 0 10vw;
                        }
                    }
                    .section_two_bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 5vh 0 0 0;
                        .about_content {
                            // display: flex;
                            // flex-direction: column;
                            width: 82%;
                            // text-align: center;
                            color: white;
                            font-family: 'Roboto', sans-serif;
                            font-size: 4vw;
                            .about_page_Logo {
                                display: flex;
                                justify-content: center;
                                margin: 4vh 0 4vh 0;
                            }
                        }
                        // Download Resume Button
                        .resume_button_div {
                            #dload_resume {
                                border: 2px solid $resumebutton;
                                border-radius: 5px;
                                background-color: $resumebutton;
                                box-shadow: 1px 1px 2px $boxshadowcircles;
                                box-shadow: 5px 5px 4px #0e3f42;
                                margin: 4vh 0 0 0;
                                width: 70vw;
                                height: 10vw;
                                color: white;
                                text-decoration: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-family: 'Inter', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Tablet
@media screen and (min-width: 451px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            .container {
                background-color: $otherblue;
                margin: 0;
                // Top NavBar that is static
            }
        }
    }
}

// Desktop
@media screen and (min-width: 900px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            .container {
                background-color: $experiencegreenbutton;
                margin: 0;
                // Top NavBar that is static
            }
        }
    }
}


// // Medium Mobile
// @media screen and (min-width: 375px) and (max-width: 500px) {
//     * {
//         margin: 0;
//         scroll-behavior: smooth;
//         scroll-snap-type: y mandatory;
//         body {
//             .container {
//                 background-color: $aboutgreen;
//                 margin: 0;
//                 // Top NavBar that is static
//             }
//         }
//     }
// }

// // Larger Mobile
// @media screen and (min-width: 500px) and (max-width: 800px) {
//     * {
//         margin: 0;
//         scroll-behavior: smooth;
//         scroll-snap-type: y mandatory;
//         body {
//             .container {
//                 background-color: $secondblue;
//                 margin: 0;
//                 // Top NavBar that is static
//             }
//         }
//     }
// }